# --- Safe Legacy Core (Late 2023 / Early 2024) ---
# These are new enough to have Python 3.11 wheels, 
# but old enough to NOT be Numpy 2.0.

torch>=0.4.0
torchvision>=0.2.1
dominate>=2.3.1
visdom>=0.1.8.3
numpy
Pillow
scipy